.app-footer {
  background-color: var(--color-sa-flag, #074d31);
}

.app-footer__icon-link {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
  min-height: 2rem;
  padding: 0;
}

.app-footer__dga-logo {
  filter: brightness(0) saturate(100%) invert(100%);
}
