@use '@fontsource/ibm-plex-sans-arabic/arabic-400.css';
@use '@fontsource/ibm-plex-sans-arabic/arabic-500.css';
@use 'styles/tokens';
@use 'styles/rtl-overrides';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  direction: rtl;
  font-family: 'IBM Plex Sans Arabic', system-ui, -apple-system, sans-serif;
}
